<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SkrumManagerService.Properties.Settings.SkrumDBConnectionString"
      connectionString="Data Source=192.168.55.86;Initial Catalog=SkrumDB;Persist Security Info=True;User ID=Administrator;Password=eSKGvB9Bp"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!-- Defaukt behavior for the services. -->
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!-- Default service binding mode: allows sharing of the same port. -->
      <netTcpBinding>
        <binding name="portSharingBinding" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <!-- Client notification service. -->
      <service behaviorConfiguration="DefaultBehavior" name="Notifications.NotificationService">
        <!-- This is the service usage endpoint. -->
        <endpoint address=""
                  binding="netTcpBinding"
                  name="NotificationServiceEndpoint"
                  bindingConfiguration="portSharingBinding"
                  contract="Notifications.INotificationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- This is the service endpoint that publishes metadata. -->
        <endpoint address="mex"
                  binding="netTcpBinding"
                  bindingConfiguration="portSharingBinding"
                  contract="IMetadataExchange" />
        <!-- Defines the base address of this service. -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/NotificationService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!-- User service. -->
      <service behaviorConfiguration="DefaultBehavior" name="Users.UserService">
        <!-- This is the service usage endpoint. -->
        <endpoint address=""
                  binding="netTcpBinding"
                  name="UserServiceEndpoint"
                  bindingConfiguration="portSharingBinding"
                  contract="Users.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- This is the service endpoint that publishes metadata. -->
        <endpoint address="mex"
                  binding="netTcpBinding"
                  bindingConfiguration="portSharingBinding"
                  contract="IMetadataExchange" />
        <!-- Defines the base address of this service. -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/UserService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!-- Project service. -->
      <service behaviorConfiguration="DefaultBehavior" name="Projects.ProjectService">
        <!-- This is the service usage endpoint. -->
        <endpoint address=""
                  binding="netTcpBinding"
                  name="ProjectServiceEndpoint"
                  bindingConfiguration="portSharingBinding"
                  contract="Projects.IProjectService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- This is the service endpoint that publishes metadata. -->
        <endpoint address="mex"
                  binding="netTcpBinding"
                  bindingConfiguration="portSharingBinding"
                  contract="IMetadataExchange" />
        <!-- Defines the base address of this service. -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/ProjectService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!-- Taskboard service. -->
      <service behaviorConfiguration="DefaultBehavior" name="Taskboards.TaskboardService">
        <!-- This is the service usage endpoint. -->
        <endpoint address=""
                  binding="netTcpBinding"
                  name="TaskboardServiceEndpoint"
                  bindingConfiguration="portSharingBinding"
                  contract="Taskboards.ITaskboardService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- This is the service endpoint that publishes metadata. -->
        <endpoint address="mex"
                  binding="netTcpBinding"
                  bindingConfiguration="portSharingBinding"
                  contract="IMetadataExchange" />
        <!-- Defines the base address of this service. -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/TaskboardService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
</configuration>